/* Universal Styles */

html {
    max-width: 100%;
    overflow-x: hidden;
  }
  
  html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
  }
  
  .main-content {
    position: relative;
    top: 5.3125rem; /* To offset for fixed header. */
  }
  
  .center {
    text-align: center;
  }
  
  .button {
    border-radius: 4px;
    background-color: #4a4a4a;
    color: white;
  }
  
  .image-container {
    overflow: hidden;
  }
  
  .image-container img {
    display: block;
  }
  
  @media only screen and (max-width: 760px) {
    .main-content {
      top: 5.3125rem;
    }
  }
  
  /* Header */
  
  header {
    position: fixed;
    width: 100%;
    border-bottom: solid 1px #c6c1c1;
    background-color: white;
    height: 85px;
    z-index: 1;
  }
  
  header .content {
    display: flex;
    align-items: center;
    padding: 30px;
  }
  
  header .logo {
    flex: 1;
    color: #4a4a4a;
    font-size: 20px;
    letter-spacing: 2px;
  }
  
  header nav ul {
    display: flex;
  }
  
  nav li {
    padding-left: 3.5rem;
  }
  
  nav a {
    vertical-align: bottom;
    line-height: 1.6;
    font-size: 16px;
    color: #4a4a4a;
    font-family: 'Roboto', sans-serif;
  }
  
  header .icon {
    width: 1rem;
    padding-left: .75rem;
  }
  
  header .mobile {
    display: none;
  }
  
  @media only screen and (max-width: 760px) {
    header .desktop {
      display: flex;
    }
  
    header .icon {
      padding-right: 30px;
    }
  
    header .mobile {
      display: block;
      width: 0%;
    }
  
    header .content {
      padding: 30px 90px 30px 30px;
    }
  
    header .mobile ul .no-show {
      display: none;
    }
  
    header .mobile ul .button {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 120%;
    }
  
    header .mobile li {
      padding: 0;
    }
  
    .desktop {
      padding-left: 1px;
    }
  
    header .mobile .button {
      padding: .1875rem .5rem;
      background-color: #9dc20b;
      line-height: 1.6;
      color: white;
      display: block;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
    }
  }
  
  /* Sign Up Section */
  
  #sign-up-section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 43.5rem;
  }
  
  .banner {
    background: url('../../resources/images/banner-landingpage.jpg');
      background-position: bottom;
      background-position-x: center;
      background-position-y: bottom;
      background-size: cover;
      background-repeat: no-repeat;
  }
  
  #sign-up-cta {
    margin-top: 170px;
    margin-left: 100px;
    margin-bottom: 170px;
    border: solid 1px #979797;
    border-radius: 4px;
    background-color: #9dc20b;
  }
  
  #sign-up-cta .content {
    width: 568px;
    margin-top: 32px;
    margin-bottom: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    line-height: 1.4;
    color: white;
  }
  
  #sign-up-cta h1 {
    font-size: 3.125rem;
  }
  
  #sign-up-cta h2 {
    font-size: 2.25rem;
  }
  
  #sign-up-cta span strong {
    font-weight: bold;
  }
  
  #sign-up-cta span {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 1.4;
  }
  
  #sign-up-cta .cursive {
    font-family: "Damion", cursive;
  }
  
  #sign-up-cta .striking {
    font-family: "Rubik", sans-serif;
    padding-bottom: 12px;
    color: white;
    font-size: 50px;
    line-height: 1.4;
  }
  
  #sign-up-cta .email {
    width: 408px;
    margin: auto;
  }
  
  #sign-up-cta .button {
    width: 408px;
    height: 64px;
    display: table-cell;
    vertical-align: middle;
  }
  
  @media only screen and (max-width: 760px) {
    #sign-up-section {
      align-items: center;
      justify-content: center;
      height: 28rem;
    }
  
    #sign-up-cta {
      position: static;
      width: auto;
      height: auto;
      background-color: transparent;
      border: none;
    }
  
    #sign-up-cta .content {
      margin-top: 0;
    }
  
    #sign-up-cta .email {
      display: none;
      color: white;
      font-size: 20px;
      font-family: "Roboto", sans-serif;
      line-height: 1.4;
    }
  
    #sign-up-cta h1 {
      font-size: 3.125rem;
    }
  
    #sign-up-cta h2 {
      font-size: 2.25rem;
    }
  }
  
  @media only screen and (max-width: 450px) {
    #sign-up-section {
      height: 20rem;
    }
  
    #sign-up-cta h1 {
      font-size: 2.25rem;
    }
  
    #sign-up-cta h2 {
      font-size: 2rem;
    }
  }
  
  /* Features Section */
  
  #features-section {
    display: flex;
    justify-content: space-between;
    padding: 64px 95px 46px 95px;
    background-color: #f3f3f3;
  }
  
  .feature {
    flex: 1;
    padding: 32px 32px 32.76px 32px;
    margin: 0px 16px;
    background-color: white;
    width: 584px;
    height: 566.6px;
  }
  
  .feature .image-container {
    width: 100%;
    height: 120px;
    margin: 0 auto;
  }
  
  .feature .image {
    width: 100%;
  }
  
  .feature h2 {
    padding-bottom: .5rem;
    padding-top: 40px;
    font-size: 36px;
    font-weight: bold;
    color: #4a4a4a;
    font-family: "Roboto", sans-serif;
    line-height: 1.2;
  }
  
  .feature h3 {
    font-size: 16px;
    font-weight: 300;
    color: #4a4a4a;
    font-family: "Roboto", sans-serif;
    line-height: 1.2
  }
  
  @media only screen and (max-width: 890px) {
    .feature h2 {
      font-size: 1.125rem;
      line-height: 1.3;
      font-weight: normal;
    }
  
    .feature h3 {
      font-size: .875rem;
      line-height: 1.4;
    }
  }
  
  @media only screen and (max-width: 760px) {
    #features-section {
      display: flex;
      padding: 20px 5px 20px 5px;
    }
  
    .feature {
      display: inline-block;
      margin: 0px 8px;
      background-color: white;
      width: 250px;
      height: 350px;
      padding: 20px 20px 30px 20px;
    }
  
    .feature .image-container {
      width: 100%;
      height: 200%;
      margin: 0 auto;
    }
  
    .feature h2 {
      padding-bottom: .5rem;
      padding-top: 0px;
      font-size: 24px;
      font-weight: bolder;
      color: #4a4a4a;
      font-family: "Roboto", sans-serif;
      line-height: 1.3;
      text-align: left;
    }
  
    .feature h3 {
      font-size: 14px;
      line-height: 1.3;
      font-weight: 300;
      color: #4a4a4a;
      font-family: "Roboto", sans-serif;
      text-align: left;
    }
  }
  
  /* Filters Section */
  
  #filters-section {
    padding: 64px 0;
    background-color: #4a4a4a;
  }
  
  #filters-section .content {
    padding: 0 .625rem;
    margin-bottom: 80px;
  }
  
  #filters-section .content h2 {
    font-size: 36px;
    font-weight: bold;
    color: white;
    opacity: 100%;
    font-family: "Roboto", sans-serif;
  }
  
  #filters-section .content h3 {
    font-size: 16px;
    line-height: 1.4;
    font-weight: 300;
    color: white;
    font-family: "Roboto", sans-serif;
  }
  
  #filters-section .images-container {
    display: flex;
    max-width: 100%;
    padding: 0 1%;
    padding-top: 0px;
    padding-right: 1%;
    padding-bottom: 0px;
    padding-left: 1%;
  }
  
  .image-container img {
    display: block;
    max-width: 100%;
  }
  
  @media only screen and (max-width: 760px) {
    #filters-section {
      padding: 1.5rem 0 0 0;
    }
  
    #filters-section .content {
      margin-bottom: 1rem;
    }
  
    #filters-section .content h2 {
      padding-bottom: .625rem;
      font-size: 1.125rem;
      line-height: 1.3;
      font-weight: normal;
    }
  
    #filters-section .content h3 {
      font-size: .875rem;
      line-height: 1.4;
    }
  
    #filters-section .images-container {
      padding: 0;
    }
    
    #filters-section .extra {
      display: none;
    }
  }
  
  /* Quotes Section */
  
  #quotes-section {
    background-color: #f3f3f3;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
  #quotes-section content {
    padding: 5rem 0;
  }
  
  #quotes-section .quote {
    padding-right: 30px;
    font-family: "Palatino", serif;
    font-size: 30px;
    line-height: 1.1;
    font-style: italic;
    color: #4a4a4a;
  }
  
  #quotes-section .quote-citation {
    height: 1.875rem;
  }
  
  @media only screen and (max-width: 760px) {
    #quotes-section content {
      padding: 1.875rem .625rem;
    }
  
    #quotes-section quote {
      font-size: 1.5rem;
      line-height: 1.4;
    }
  
    #quotes-section quote-citation {
      display: block;
      padding-top: 1rem;
      margin: auto;
    }
  }
  
  /* Footer */
  
  footer {
    background-color: hsl(0, 0%, 61%);
    padding: 25px 32px;
  }
  
  footer .content {
    color: white;
    display: flex;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
  }
  
  footer .copyright {
    flex-grow: 1;
  }
  
  @media only screen and (min-width: 760px) {
    footer .content {
      font-size: .625rem;
    }
  }
  
  hr {
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }